@model Kalinabiri.Models.Parent

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Parent</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OtherNames)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OtherNames)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Occupation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Occupation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlaceOfWork)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlaceOfWork)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelephoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelephoneNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Residence)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Residence)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Parish)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parish)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Division)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Division)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
