@model Kalinabiri.Models.Pupil

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Pupil</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OtherNames)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OtherNames)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PupilClass)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PupilClass)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfEntry)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfEntry)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Stream)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stream)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TypeOfPupil)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypeOfPupil)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Religion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Religion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HealthProblem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HealthProblem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Residence)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Residence)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Parish)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parish)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Division)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Division)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
